RewriteEngine On

RewriteRule ^home$ index.php [NC,L]
RewriteRule ^detail$ detail.php [NC,L]
RewriteRule ^api$ api/api.php [NC,L]



RewriteCond %{THE_REQUEST} /detail(?:\.php)?\?id=([^\s&]+) [NC]
RewriteRule ^ detail/%1? [R=302,L,NE]
# internal forward from pretty URL to actual one
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^detail/([^/]+)/?$ detail.php?id=$1

